@use '../base/variables' as v;
@use '../base/mixins' as m;

.receta-destacada {
    background-color: v.$carnita;

    .recetas-destacadas__items {

        router-link {
            max-height: 2rem;
            min-height: 2rem;
        }

        @include m.desktop {
           column-gap: 2rem;
        }

        @include m.tablet {
           gap: 2rem;
        }

        @include m.telefono {
            gap: 2rem;
        }
    }
}